.form-control2 {  /*class might need to be changed */
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn2 {  /*class might need to be changed */
  width: 30%;
  background-color: #2e5266;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 4px 4px grey;
}

.fa-solid {
  font-size: 20px;
  color: white;
  transition-duration: 0.5s;
}

/* Dropdown Button */
.dropbtn2 {
  background-color: #2e5266;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: auto;
  font-size: 16px;
  box-shadow: 2px 4px 4px grey;
  border-radius: 4px;
  width: 100%; /*this value will likely need tuning */
}


.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropbtn2:hover {
  background-color: #264454;
}

form:hover .fa-solid {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}



.graph1 {
    display: flex;
    justify-content: space-around;
}

.graph2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.list_line_odd {
  background-color: #6e8898;
}

.list_line_even {
  background-color: #9fb1bc;
}

a { 
  text-decoration: none;
}

ul {
  list-style: none;
}

.element {
/*  padding: 10px;*/
}

a.stringdb {
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
  color: white;
  background-color: #2e5266;;
  text-decoration: none;
  width: 20%;
  font-size: 17px;
}

a:hover {
  text-decoration: underline;
}
