<h1>About:</h1>
<p> 
Current genetic databases provide a wealth of information to anyone with internet access but are primarily designed for usage by professionals already experienced in the fields of genetics and bioinformatics. Although this detail and specificity in genomic databases are perfect for researchers, it can be overwhelming for those newly introduced to the field. We argue that an asset accessible to all should be designed with all in mind. In pursuit of that belief, we developed NucleoDepot: A Novel Genomic Depository designed for the Novice Researcher. Using our experiences and the experiences of other full-time students, we collected and filtered data from the Genomic Data Commons (GDC) Data Portal, GEO and GEO2R, cytoscape, dgidb, and String-DB which we identified as being pertinent to the novice learner. We then extracted the data from each database in CSV files for convenient parsing and storage. We sorted the data from each file and compiled the data into two larger files containing information on genes and information on the mutations of those genes respectively. Once the data was sorted and compiled, we wrote programs to parse the data into our database as well as programs to perform specific queries requested by the user. We also included graphs and gene maps from String-DB and GDC for each of the 28 types of cancer represented in our database. As a result of our efforts, we have a database of over 20,000 genes across 28 different cancers with a rich set of data on each gene.
</p>
<br>
<h2>Disclaimer:</h2>
<p>This website should not be used to make any medical decisions. NucleoDepot is strictly designed for informational purposes.</p>
<br>
<h2>View our most updated code at https://github.com/coolguy12gtt/NucleoDepot</h2>
