<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<div class="header">
<a href="/thx">Thank You</a>
<br>
<a href="/about">About</a>
<br>
<a href="/references">References</a>
</div> 

<div class = "putInCenter">
<h1>NucleoDepot</h1>

<a href="\genes.csv"><h2>Download CSV</h2></a>
</div>
<div class="putInCenter2">
<form class="form-inline-my-2 my-lg-0" action="/searchID">
  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search by Gene (all caps)" aria-label="Search">
 <div> </div>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Gene</button>
</form>
<%y = 0%>
<%forms = ["adrenal","bile duct","bladder","bone marrow","brain","breast","cervix","colorectal","esophagus",
           "eye","head and neck","kidney","liver","lungs","lymph nodes","nervous system","ovary","pancreas","pleura",
           "prostate","skin","soft tissue","stomach","testis","thymus","thyroid","uterus"]%>
<form class="dropdown">
  <button onmouseover="myFunction()" class="dropbtn">Cancer Type</button>
  <div id="myDropdown" class="dropdown-content">
    <%@genes.each do |gene|%>
      <%while y<29%>
        <a href="/searchType?q=<%=forms[y]%>"><%=forms[y]%></a>
        <%y = y + 1%>
      <%end%>
    <%end%>
  </div>
</div>
</form>

