<h1>References:</h1>
<ul>
  <li>
    <p>GDC. (2022). Cancer.gov. https://portal.gdc.cancer.gov/</p>
  </li>
  <li>
    <p>geo. (2022). Home - GEO - NCBI. Nih.gov. https://www.ncbi.nlm.nih.gov/geo/</p
  </li>
  <li>
    g:Profiler – a web server for functional enrichment analysis and conversions of gene lists. (2022). Cs.ut.ee. https://biit.cs.ut.ee/gprofiler/gost
  </li>
  <li>
    Ono, K. (2019). Cytoscape: An Open Source Platform for Complex Network Analysis and Visualization. Cytoscape.org. https://cytoscape.org/
  </li>
  <br>
  <li>
     (2020). Dgidb.org. https://www.dgidb.org/
  </li>
</ul>
  
