<h1>References:</h1>
<ul>
  <li>
    <p>Myunggyo Lee, Kyubum Lee, Namhee Yu, Insu Jang, Ikjung Choi, Pora Kim, Ye Eun Jang, Byounggun Kim, Sunkyu Kim, Byungwook Lee, Jaewoo Kang, Sanghyuk Lee, ChimerDB 3.0: an enhanced database for fusion genes from cancer transcriptome and literature data mining, Nucleic Acids Research, Volume 45, Issue D1, January 2017, Pages D784–D789, https://doi.org/10.1093/nar/gkw1083</p>
  </li>
  <li>
    <p>Pavlopoulou, A., Spandidos, D.A., & Michalopoulos, I. (2015). Human cancer databases (Review). Oncology Reports, 33, 3-18. https://doi.org/10.3892/or.2014.3579</p>
  </li>
  <li>
    <p>Kenneth L. Abbott, Erik T. Nyre, Juan Abrahante, Yen-Yi Ho, Rachel Isaksson Vogel, Timothy K. Starr, The Candidate Cancer Gene Database: a database of cancer driver genes from forward genetic screens in mice, Nucleic Acids Research, Volume 43, Issue D1, 28 January 2015, Pages D844–D848, https://doi.org/10.1093/nar/gku770</p>
  </li>
    <p>Damian Szklarczyk, Annika L Gable, David Lyon, Alexander Junge, Stefan Wyder, Jaime Huerta-Cepas, Milan Simonovic, Nadezhda T Doncheva, John H Morris, Peer Bork, Lars J Jensen, Christian von Mering, STRING v11: protein–protein association networks with increased coverage, supporting functional discovery in genome-wide experimental datasets, Nucleic Acids Research, Volume 47, Issue D1, 08 January 2019, Pages D607–D613, https://doi.org/10.1093/nar/gky1131</p>
  </li>
  <li>
    <p>GDC. (2022). Cancer.gov. https://portal.gdc.cancer.gov/</p>
  </li>
  <li>
    <p>geo. (2022). Home - GEO - NCBI. Nih.gov. https://www.ncbi.nlm.nih.gov/geo/</p
  </li>
  <li>
    g:Profiler – a web server for functional enrichment analysis and conversions of gene lists. (2022). Cs.ut.ee. https://biit.cs.ut.ee/gprofiler/gost
  </li>
  <li>
    Ono, K. (2019). Cytoscape: An Open Source Platform for Complex Network Analysis and Visualization. Cytoscape.org. https://cytoscape.org/
  </li>
  <li>
     (2020). Dgidb.org. https://www.dgidb.org/
  </li>
  <li>
    <p>PhD, J. B. (n.d.). PDX and Personalized Medicine. Crown Bioscience Blog. https://blog.crownbio.com/pdx-personalized-medicine</p>
  </li>
</ul>
  
