<a href="/genes"><h2>NucleoDepot</h2></a>
<h1>String-db data:</h1>
<%@webs.each do |web|%>
      <div class="web">
    <%if web.link != nil%>
      <%= image_tag web.link, width: 400%>
    <%end%>
    <%if web.information != nil%>
      <%= image_tag web.information, width: 400%>
    <%end%>
      </div>
<%end%>
