<a href="/genes"><h3>NucleoDepot</h3></a>
<h1>Search by Identity Results:</h1>

<form class="form-inline-my-2 my-lg-0"> <!--will this work?-->
  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search by Gene" aria-label="Search">
  <br>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Gene</button>
</form>


<%pages = Array.new%>
<ul>
  <% @genes.each do |gene| %>
    <%if not(pages.include?(gene.identity))%>
    <li>
      <a href="/genes/<%= gene.id %>">
      <%=gene.identity%>
      </a>
    </li>
    <br>
    <%pages.push(gene.identity)%>
    <%end%>
  <% end %>
</ul>
