<a href="/genes"><h3>Home</h3></a>
<h1>Search by Identity Results:</h1>

<form class="form-inline-my-2 my-lg-0"> <!--will this work?-->
  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search by Gene" aria-label="Search">
  <br>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Gene</button>
</form>

<ul>
  <% @genes.each do |gene| %> <!--why can gene.name only be used inside each loop?-->
    <li>
      <a href="/genes/<%= gene.id %>">
      <%=gene.identity%>
      </a>
      <p>Type: <%=gene.form%></p>
    </li>
  <% end %>
</ul>
