<a href="/genes"><h3>NucleoDepot</h3></a>
<h1>String-db data:</h1>
<%@webs.each do |web|%>
  <div class="web">
  <%= image_tag web.link, width: 400%>
  <%= image_tag web.information, width: 400%>
  </div>
<%end%>
