<h1>Thank you to the following people for helping to make NucleoDepot 
    Possible!</h1>
<ul>
  <li>
    <h3>Brad Thompson</h3>
    <p>Thank you to Brad Thompson for making it possible to host 
       NucleoDepot publicly.</p>
  </li>
  <br>
  <li>
  <h3>Dr. Nadia Lanman</h3>
  <p>Thank you to Dr. Lanman for providing us with direction and feedback as our database continues to develop.</p>
  </li>
  <br>
  <li>
  <h3>Mr. Sudhanshu Shekhar</h3>
  <p>Thank you to Mr. Shekhar for helping us expand data visualizations and for giving us ideas for building a userbase.</p>
  </li>
</ul>
       
